
body {
	font-family: "Times New Roman", sans-serif;
	background-color: #000000 !important;
	margin: 85px 0;
}

h4{
  color: #ffffff !important;
	padding-top: 5%;
}

.thumb {
	margin-bottom: 15px;
}
.thumb:last-child {
	margin-bottom: 0;
}


.showcase{
	margin-left: 6%;
	margin-right: 6%;
}

.disclaimer{
	color: white;
	font-size: 14px;
}
